<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <h1>
      New Post
    </h1>

    <form action="/new" method="post">

      <label for="title">Title:</label>
      <input type="text"  name="title">
      
      <label for="body">Body:</label>
      <input type="text"  name="body">

      <label for="creator_name">Name:</label>
      <input type="text"  name="creator_name">

    <button type="submit">Post</button>
    </form>
    
  </div>
</body>

</html>
